<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="/"> TinyApp </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls"> My URLs </a>
        <a class="nav-item nav-link" href="/urls/new"> Create New URL </a>
      </div>
    </div>

    <div>
      <% if(!username){ %>
      <a href="/login" >Login</a>
      <a href="/register">Register</a>
      <!-- <form action="/login" method="POST" class="form-inline">
        <h5 class="text-light mt-1">Login</h5>
        <input
          class="form-control ml-2"
          type="text"
          placeholder="Username"
          name="username"
          value=""
        />
        <button type="submit" class="btn btn-dark ml-2">Sign in</button> -->
      </form>

      <% } else { %>

      <form action="/logout" method="POST" class="form-inline">
        <h5 class="text-light mt-1">
          Logged in as: <%=users[username].email%>
        </h5>
        <span class="text-light"></span>
        <button type="submit" name="username" class="btn btn-dark ml-2">
          Logout
        </button>
      </form>
      <%}%>
    </div>
  </nav>
</header>
;
