<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="/"> TinyApp </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls"> My URLs </a>
        <a class="nav-item nav-link" href="/urls/new"> Create New URL </a>
      </div>
    </div>

    <div>
      <% if(!username){ %>
      <form action="/login" method="POST" class="form-label">
        <span class="text-light">Login </span>
        <input
          class="rounded-pill"
          type="text"
          placeholder=" username"
          name="username"
          value=""
        />
        <button type="submit" class="btn btn-dark">Sign in</button>
      </form>
      <!--  -->

      <!--  -->
      <% } else { %>

      <form action="/logout" method="POST" class="">
        <span class="text-light">Logged in as: <%=username%></span>
        <button type="submit" name="username" class="btn btn-dark">
          Logout
        </button>
      </form>
      <%}%>
    </div>
  </nav>
</header>
;
